.dashboard-container{
    padding:40px;
}

.dashboard-header{
    margin-bottom:30px;
}

/* Heading */
.dashboard-header h1{
    font-size:34px;
    font-weight:700;
}

/* Subtitle */
.dashboard-header p{
    margin-top:8px;
    font-size:15px;
}

/* Light Theme */
body.light .dashboard-header h1{
    color:#1e293b;
}

body.light .dashboard-header p{
    color:#64748b;
}

/* Dark Theme */
body.dark .dashboard-header h1{
    color:white;
}

body.dark .dashboard-header p{
    color:#cbd5e1;
}

/* Cards Grid */
.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

/* Cards */
.dashboard-card{
    background:white;
    border-radius:18px;
    padding:30px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    border-left:6px solid #2563eb;
    transition:0.3s;
}

.dashboard-card:hover{
    transform:translateY(-6px);
}

/* Dark Theme Cards */
body.dark .dashboard-card{
    background:#1e293b;
}

.dashboard-card h3{
    color:#64748b;
    margin-bottom:15px;
}

body.dark .dashboard-card h3{
    color:#cbd5e1;
}

.dashboard-card h2{
    color:#2563eb;
    font-size:38px;
}