*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.login-container{
  height:100vh;
  display:flex;
  font-family:'Segoe UI',sans-serif;
}

.login-left{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.login-box{
  width:420px;
}

.login-box h1{
  color:#1e293b;
  margin-bottom:10px;
}

.subtitle{
  color:#64748b;
  margin-bottom:30px;
}

.login-box label{
  display:block;
  margin-bottom:8px;
  font-weight:600;
  color:#334155;
}

.login-box input{
  width:100%;
  padding:14px;
  margin-bottom:20px;
  border:1px solid #cbd5e1;
  border-radius:10px;
  font-size:15px;
}

.login-box input:focus{
  outline:none;
  border-color:#2563eb;
}

.login-box button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
}

.login-box button:hover{
  background:#1d4ed8;
}

.register-text{
  margin-top:20px;
  text-align:center;
  color:#64748b;
}

.register-link{
  margin-left:8px;
  color:#2563eb;
  text-decoration:none;
  font-weight:600;
}

.login-right{
  flex:1;
  background:linear-gradient(
    135deg,
    #2563eb,
    #1e3a8a
  );
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:60px;
}

.info-content{
  max-width:500px;
}

.info-content h2{
  font-size:48px;
  margin-bottom:25px;
}

.info-content p{
  font-size:18px;
  line-height:1.7;
  margin-bottom:30px;
}

.info-content ul{
  list-style:none;
}

.info-content li{
  margin-bottom:18px;
  font-size:18px;
}

@media(max-width:900px){

  .login-right{
    display:none;
  }

  .login-left{
    flex:1;
  }

}